// FONT
@use './Navigation.scss';
@use './Hero.scss';
@use './Weather.scss';
@use './LatestReports.scss';
@use './Precautions.scss';
@use './About.scss';
@use './Services.scss';
@use './Footer.scss';
@font-face {
    font-family: 'Bree';
    src: url('/BreeSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.app {
  font-family: "Bree", sans-serif;
  scroll-behavior: smooth;
}

