// FONT

@font-face {
    font-family: 'Bree';
    src: url('/BreeSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.app {
  font-family: "Bree", sans-serif;
  scroll-behavior: smooth;
}

@import './Navigation.scss';
@import './Hero.scss';
@import './LatestReports.scss';
@import './Precautions.scss';
@import './About.scss';
@import './Services.scss';
@import './Footer.scss';